@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal">

            <div class="row">
                <div class="col-sm-6 b-r">
                    <!--<#input id="id" name="书籍编号" underline="true"/>-->
                    <#input id="bookName" name="书籍名称" underline="true"/>
                    <#input id="bookAuth" name="书籍作者"/>
                </div>

                <div class="col-sm-6">
                    <#input id="bookDesc" name="书籍描述" underline="true"/>
                    <#input id="bookPrice" name="书籍价格" underline="true"/>
                    <#input id="bookDate" name="发行日期" underline="true" type="text"/>
                </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="BookTableInfoDlg.addSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="BookTableInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/bookManager/bookTable/bookTable_info.js"></script>
<script>
    laydate.render({
        elem: '#bookDate'
    });
</script>
@}
